
<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie ie9" lang="en" class="no-js"> <![endif]-->
<!--[if !(IE)]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<head><% include partials/pages/header.ejs %></head>
<body>
<table id="ticket-table" class="table table-sorting">
                                            <thead>
                                                <tr>
                                                    <th>Number</th>
                                                    <th>Date</th>
                                                    <th>Title</th>
                                                    <th>Priority</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td><a href="#">[#1]</a></td>
                                                    <td>April 19, 2016 </td>
                                                    <td><a href="#">Denial of service</a></td>
                                                    <td><span class="label label-high">Urgent</span></td>
                                                </tr>
                                                <tr>
                                                    <td><a href="#">[#2]</a></td>
                                                    <td>April 20, 2016 </td>
                                                    <td><a href="#">The system is hacked </a></td>
                                                    <td><span class="label label-high">Urgent</span></td>
    
                                                </tr>
                                                <tr>
                                             <td><a href="#">[#3]</a></td>
                                                    <td>April 20, 2016 </td>
                                                    <td><a href="#">Intrusion happen</a></td>
                                                    <td><span class="label label-high">High</span></td>
                                                  </tr>
                                                <tr>     
                                               <td><a href="#">[#4]</a></td>
                                                    <td>April 21, 2016 </td>
                                                    <td><a href="#">Network problem </a></td>
                                                    <td><span class="label label-high">low</span></td>
                                                   </tr>
                                                <tr>
                                                    <td><a href="#">[#5]</a></td>
                                                    <td>April 19, 2016 </td>
                                                    <td><a href="#">Attackers try to intrupt your system </a></td>
                                                    <td><span class="label label-high">medium</span></td>
    
                                                </tr>
                                            </tbody>
                                        </table>
      <% include partials/pages/footer.ejs %>
      <% include partials/pages/jsdefaults.ejs %>
</body>
</html>